/* GENERAL STYLES */

body {
	background: #fff;
	margin: 0 auto;
	padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* NAVIGATION ELEMENTS */


.nav_wrap {
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	/*box-sizing: border-box;*/
}

.nav_wrap .content {
	padding: 0 80px;
}

.nav_links {
	float: right;
	display: inline-block;
	margin-top: -55px;
}

.nav_links li {
	display: inline-block;
	margin: 10px;

}

.logo {
	margin-left: 0px;
	margin-top: 15px;
}

/* INTRO IMAGE */

.intro_img {
	background-image: url('../images/first_background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	border: 1px solid red;
	
}

.text_wrap {
	position: relative;
	margin-top: 0;
	padding-top: 200px;
	text-align: center;

}

.text_button {
	text-align: center;
	width: 160px;
	border-style: none;
	border-radius: 4px;
	margin: 0 auto;
	padding: 5px 26px;
}



/* THREE ICON IMAGES */

.icon_content {
	margin-top: 100px;
	text-align: center;
	border: 1px solid red;
}

.icon_content .icon {
	display: inline-block;
	box-sizing: border-box;
	height: 20px;
	padding-top: 100px;
	margin-right: 50px;
}

.icon {
	margin-top: -60px;

}

.icon img {
	width: 80%;
}

/* FOOTER */

.footer_nav {
	width: 800px;
	margin: 100px auto 0 auto;
	text-align: center;
	border-top: 1px solid #ccc;
	border: 1px solid red;

}

/***************** COLORS & FONTS *****************/

.nav_wrap {    
	background: #fff;
}

.nav_links .active {     /*  Navigation Color and Behavior  */
	color: #000;
}

.nav_links li {
	color: #838994;
}

.nav_links li:hover {
	color: #000;
	cursor: pointer;
}						  /*  End Nav  */

.text_wrap {
	color: white;
	line-height: 45px;
}

.hero_title {
	font-size: 50px;
}

.text_button {
	color: white;
	text-shadow: none;
	background-color: orange;
}

.copyright {
	color: #ccc;
}

