/* GENERAL STYLES */

body {
	background: #fff;
	margin: 0 auto;
	padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* NAVIGATION ELEMENTS */


.nav_wrap {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 9999;
	border-bottom: 1px solid #E0E0E0;
}

.content {
	width: 930px;
	height: 70px;
	margin: 0 auto;
	/*box-sizing: border-box;*/
}


.nav_links {
	float: right;
	vertical-align: baseline;
	display: inline-block;
	margin-top: -2.6em;
}

.nav_links li {
	display: inline-block;
	margin: 10px;

}

.logo {
	margin-left: 0px;
	margin-top: 15px;
}

/* INTRO IMAGE */

.intro_img {
	background-image: url('../images/first_background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 735px;
	
}

.text_wrap {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 260px;
	text-align: center;
}

.text_wrap > p {
	margin-bottom: 20px;
}

.text_button {
	text-align: center;
	width: 160px;
	border-style: none;
	border-radius: 4px;
	margin: 0 auto;
	padding: 5px 26px;
}



/* THREE ICON IMAGES */

.icon_content {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 115px;

}

.icon_content .content {
	height: 100%;
}

.icon > p {
	padding-top: 0;
	margin-top: 0;
}

.icon > li {
	display: inline-block;
	padding-top: 0;
	margin-bottom: 0;
}

.icon_content .icon > li {
	width: 33%;

}
.caption {
	padding-top: 20px;
}



/* FOOTER */

.footer_nav {
	width: 100%;
	margin: 0;
	/* border-top: 1px solid #E0E0E0; */
	padding-bottom: 200px;
	text-align: center;
	box-sizing: border-box;

}

.social_icons {
	list-style: none;
	margin: 0 10px 0 0;
	padding: 5px 0;
}

.footer_nav .social_icons > li {
	/* icon circle styling */
    display: inline-block;
    width: 35px;
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 20px; 
    padding: 9px;
    /***********************/
    margin-left: 10px;
    position: relative;
}

.fa {
	display: inline-block;
	vertical-align: baseline;
}

.copyright {
	text-align: center;
}

/***************** COLORS & FONTS *****************/

.nav_wrap {    
	background: #fff;
}

.nav_links > li {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-right: 10px;
}

/*  Navigation Color and Behavior  */

.nav_links .active {     
	color: #4c5058;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.nav_links li {
	color: #838994;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.nav_links li:hover {
	color: #4c5058;
	cursor: pointer;
}						  /*  End Nav  */

.text_wrap {
	color: white;
	line-height: 45px;
}

.hero_title {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.text_wrap > p {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.text_button {
	color: white;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-shadow: none;
	background-color: #fc5f2a;
}

.text_button:hover {
	background-color: #d13806;
}

.icon_content > .content > p {
	color: #000;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.caption {
	color: #000;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

hr {
	background-color: #E0E0E0; 
	height: 1px; 
	border: 0; 
}

.footer_nav .content > p {
	color: #000;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.footer_nav .fa-twitter { 
	color: #4099FF;
}

.footer_nav .fa-facebook { 
	color: #3b5998;
}

.footer_nav .fa-instagram { 
	color: #125688;
}

.copyright {
	color: #E0E0E0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}








