/* GENERAL STYLES */

body {
	background: #fff;
	margin: 0 auto;
	padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* NAVIGATION ELEMENTS */


.nav_wrap {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 9999;
}

.content {
	width: 930px;
	height: 70px;
	margin: 0 auto;
	/*box-sizing: border-box;*/
}


.nav_links {
	float: right;
	vertical-align: baseline;
	display: inline-block;
	margin-top: -2.6em;
}

.nav_links li {
	display: inline-block;
	margin: 10px;

}

.logo {
	margin-left: 0px;
	margin-top: 15px;
}

/* INTRO IMAGE */

.intro_img {
	background-image: url('../images/first_background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 735px;
	
}

.text_wrap {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 260px;
	text-align: center;
}

.text_wrap > p {
	margin-bottom: 20px;
}

.text_button {
	text-align: center;
	width: 160px;
	border-style: none;
	border-radius: 4px;
	margin: 0 auto;
	padding: 5px 26px;
}



/* THREE ICON IMAGES */

.icon_content {
	text-align: center;
	padding-bottom: 20px;
}

.icon_content .content {
	height: 100%;
}

.icon > p {
	padding-top: 0;
	margin-top: 0;
}

.icon > li {
	display: inline-block;
	padding-top: 0;
	margin-bottom: 0;
}

.icon_content .icon > li {
	width: 33%;

}



/* FOOTER */

.footer_nav {
	width: 800px;
	margin: 150px auto 0 auto;
	text-align: center;
	border-top: 1px solid #ccc;
	margin-top: 5em;

}

.social_icons {
	list-style: none;
}

.social_icons > li .fa-twitter .fa-facebook .fa-instagram {
	width: 35px;
    display: inline-block;
    height: 36px;
    border: 2px solid #909090;
    border-radius: 20px; 
    margin-right: 7px;
}

.footer_nav {
}

/***************** COLORS & FONTS *****************/

.nav_wrap {    
	background: #fff;
}

.nav_links > li {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-right: 10px;
}

/*  Navigation Color and Behavior  */

.nav_links .active {     
	color: #4c5058;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.nav_links li {
	color: #838994;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.nav_links li:hover {
	color: #4c5058;
	cursor: pointer;
}						  /*  End Nav  */

.text_wrap {
	color: white;
	line-height: 45px;
}

.hero_title {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.text_wrap > p {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.text_button {
	color: white;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-shadow: none;
	background-color: #fc5f2a;
}

.text_button:hover {
	background-color: #d13806;
}

.icon_content > .content > p {
	color: #000;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.caption {
	color: #000;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.copyright {
	color: #ccc;
}







